@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Rubik', sans-serif;*/
/*}*/

/*body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-self: center;*/
/*    min-height: 100vh;*/
/*    background: #222;*/
/*}*/

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(200px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.container .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.container .box:hover {
    background: #8d06cc;
}

.container .box img {
    position: relative;
    max-width: 90px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
}

#animal-choose {
    display: grid;
}

#room-choose {
    display: none;
}

#dates-choose {
    display: none;
}

#personal-data-choose {
    display: none;
}

#success-page {
    display: none;
}


#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #363434;
    padding: 30px;
    margin-top: 30px;
    width: 80%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.sendRequestBtn {
    background-color: #8d06cc;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;

    -webkit-box-shadow: 0 10px 30px 0 rgba(159, 31, 219, 0.4);
    box-shadow: 0 10px 30px 0 rgba(159, 31, 219, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 40px 20px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sendRequestBtn:hover {
    background-color: #9f1fdb;
}

.sendRequestBtn:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}


input[type=text] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 10px 15px;
    width: 85%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 4px solid #8d06cc;
}

input[type=text]::placeholder {
    color: #cccccc;
}

.personalDataInput {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 10px 15px;
    width: 85%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}


.inputName {
    background-color: #a0a0a0;
    border: none;
    color: #0d0d0d;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 10px 5px;
    width: 85%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}


#next-button {
    padding: 20px 25px;
    margin: 25px 40% 1px;

}

#begin-date-input.personalDataInput {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 3px 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 30% 5px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
}

#end-date-input.personalDataInput {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 3px 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 30% 5px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
}

.inputDate {
    background-color: #a0a0a0;
    border: none;
    color: #0d0d0d;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 25px 30% 1px;
    width: auto;
    border-radius: 5px 5px 5px 5px;
}

#video-input.personalDataInput {
    background-color: #a682c4;
    border: none;
    color: #0d0d0d;
    padding: 10px 3px;
    text-align: center;
}

