<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Зоогостиница</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>

<header th:replace="fragments/common.html :: header"> </header>

<div>
    <p>
        Иоганна Георга Гидлера (Hiedler), проведшего всю жизнь в бедности и не имевшего собственного дома. В 1876 году три свидетеля удостоверили, что умерший в 1857 году Гидлер был отцом Алоиса, что позволило последнему сменить фамилию[6]. Изменение написания фамилии на «Гитлер» предположительно было вызвано опиской священника при записи в «Книгу регистрации рождений». Современные исследователи считают вероятным отцом Алоиса не Гидлера, а его брата Иоганна Непомука Гюттлера, который взял Алоиса к себе в дом и воспитывал его[5][6][7].

        Сам Адольф Гитлер, вопреки распространённому с 1920-х годов (и попавшему с подачи кандидата исторических наук, доцента и старшего научного сотрудника Института всеобщей истории АН СССР
    </p>
</div>
</body>
</html>