<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photogallery</title>
    <link rel="stylesheet" type="text/css" href="/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="/css/photoGallery.css">
</head>

<body>

<header th:replace="fragments/commonPage.html :: header"> </header>

<div class="slideshow-container">
    <div th:each="url:${urls}" class="mySlides fade">
        <img th:src="${url}" style="width: 100%" alt="">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094</a>
    <a class="next" onclick="plusSlides(1)">&#10095</a>
</div>




<script src="/js/photoGallery.js"></script>
</body>
</html>