<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/css/control/controlPage.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #8d06cc">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/img/control/logo/unicorn.png" alt="Logo" width="35" height="35"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/controlPage">Назад</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2 search-place" type="search" placeholder="Искомое слово"
                       aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Искать</button>
            </form>
        </div>
    </div>
</nav>
<div>
    <ul style="font-size: 25px">
        <li>В данный момент есть траблы с отображением <em>modal-title</em> модальном окне.</li>
        <li>Хотел встроить вместо <em>img video</em>, но чот не получилось.</li>
        <li>В папке <em>video</em> лежит тестовый видосик.</li>
        <li>Переписал вызов модалок в <em>js</em>, хз зачем.</li>
        <li>Переписал вызов модалок в <em>js</em>, хз зачем.</li>
        <li>Ну пока так)</li>
    </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>
